:root {
  --blue: #6EA19F;
  --blue-light: #d2e6e6;
  --white: #FBFBFD;
  --black: #35363B;
}

body {
  margin: 0;
  padding: 20px 0px;
  background: var(--blue);
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  word-spacing: 5px;
}

form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  text-align: left;
  padding: 20px;
  background: var(--white);
  border-radius: 5px;
}

form input, form textarea {
  margin-top: 2px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  background: var(--blue-light);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
}

form input:focus, form textarea:focus {
  border-color: var(--blue);
  outline: none;
  background: var(--white);
}

form input {
  width: 50%;
}

form label {
  cursor: pointer;
  padding-left: 3px;
  font-size: 16px;
}

.buttons-div {
  align-self: center;
  display: flex;
  column-gap: 15px;
}

.buttons-div button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 10px 15px;
  width: 150px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background: var(--black);
  transition: background-color 0.3s ease;
}

.buttons-div button:hover {
  color: var(--white);
  background: var(--blue);
}
